<style>
    td {
        padding-right: 20px; 
    }
</style>

<table>
    <tr>
        <td><a asp-page="/Index">Home</a></td>
        <td><a asp-page="/Feeds/Index">FeedBacks</a></td>
    </tr>
</table>
