<!DOCTYPE html>
<html>
<head>
    <title>UTFPR - Gerenciador de FeedBacks</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header class="bg-light p-3">
        <partial name="./_MainMenuPartialPage.cshtml" />
    </header>

    <main role="main" class="container my-4">
        @RenderBody() 
    </main>

    <footer class="text-center mt-5">
        2023 - Jefferson Alves Felix
    </footer>

    <!-- Bootstrap JS e Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required:false)
</body>
</html>
